.toggle-button:selected {
	-fx-text-fill: #FF0000;
}

.small-black-border{
	-fx-border-color: #000000;
	-fx-border-insets: 1;	
}

.message { 
	-fx-text-fill: #FF0000;
}

.swara-text {
	-fx-font-size: 15;
    -fx-font-family: "cursive";
    -fx-font-weight: bold;
}

.swara-cell-active {
	-fx-background-color: #EEFFEE;
	-fx-background-insets: 1;
	-fx-padding: 1;
}

.swara-cell-selected {
	-fx-border-color: #FF0000;
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-insets: 1;
}

.swara-cell {
	-fx-background-color: #F5F5F5;
	-fx-background-insets: 1;
	-fx-padding: 1;
}

.swara-text-area {
	-fx-background-color: #FFFFFF;
	-fx-border-insets: 1;
}

.default-color0.chart-symbol {
    -fx-background-color: red, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 3px;
    -fx-padding: 3px;
}

.default-color1.chart-symbol {
    -fx-background-color: blue, red;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

